WHITELIST: http://example.com/
SMTP_HOST: smtp.mandrillapp||sendgrid.com
SMTP_PORT: 587
SMTP_USERNAME: username@mandrillapp||sendgrid.com
SMTP_PASSWORD: password
RECIPIENTS: user@example.com
SENDER: noreply@example.com
SUBJECT: New Inquiry from example.com
