WHITELIST: http://example.com/
HOST: smtp.mandrillapp||sendgrid.com
PORT: 587
USERNAME: username@mandrillapp||sendgrid.com
PASSWORD: password
RECIPIENTS: user@example.com
SENDER: noreply@example.com
SUBJECT: New Inquiry from example.com
